body{
    background-color: black;
    font-family: "poppins";
    margin: 0px;
    padding: 0px;
}

/* Section 1 */
#Artistpart{
    margin-top: 10%;
}
#Artistpart h1{
    color: #FFCD1E;
    letter-spacing: 17px;
    margin-left: 4%;
    margin-top: 8%; 
    font-size: 80px;
}
.chek-Artiste {
    text-align: start;
    display: inline-block;
    margin-top: 7%;
}
.chek-Artiste h4{
    color: white;
    letter-spacing: 12px;
    font-size: 30px;

}
.chek-Artiste i {
    color: #27A4DB;
    margin-top: 20%;
}
.Artist-img img {
    border-radius: 50px ;
    border: 1px solid white;
    width: 460px;
    height: 460px;
}


.Sub{
    background-color: black;
    border-radius: 50px;
    border: 2px solid #27A4DB;
    color: white;
    width: 150px;
    margin-top: 12%;
    margin-left: 20%;
    font-size: 20px;

}


@media (max-width: 992px){
    #Artistpart {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    
    }
    #Artistpart h1{
        color: #FFCD1E;
        letter-spacing: 10px;
        margin-left: 1%;
        margin-top: 1%; 
        font-size: 40px;
    }

    .Artist-img img {
        border-radius: 50px ;
        border: 1px solid white;
        width: 250px;
        height:250px;
        text-align: center;
    }
    .chek-Artiste h4{
        color: white;
        letter-spacing: 7px;
        font-size: 20px;
    
    }
    .Sub{
        background-color: black;
        border-radius: 50px;
        border: 2px solid #27A4DB;
        color: white;
        width: 100px;
        margin-top: 1%;
        margin-left: 1%;
        font-size: 15px;
    
    }
    
}














/* section 2 */
.title1 h4{
    color: white;
    letter-spacing: 9px;
    font-size: 26px;
    margin-bottom: 6%;
}



#Al {
    border-radius: 70px;
    border: 3px solid #27A4DB;
    text-align: center;
    display: flex;
    width: 100%;
    
}

.Artiste {
    text-align: center;
    display: flex;
    margin-left: 35%;
    line-height: 30px;
}
.Artiste .titel-Album {
    color: #27A4DB;
    text-align: center;
    font-size: 26px;
    margin-top: 5%;
}
.Artiste .date-album {
    color: white;
    text-align: center;
    font-size: 17px;
}
.Artiste .img-Artiste {
    text-align: center;
    margin-top: 10%;
    width: 280px;
    height: 280px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50px;
    
    
}
.plus-Artiste {
    text-align: center;
    margin-top: 10%;
    width: 280px;
    height: 280px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50px;

}

@media (max-width: 992px){
    #Al{
        width: 60%;
        text-align: center;
        margin-left: 19%;
    

    }
   
    .Artiste .img-Artiste {
        width: 200px;
        height: 200px;
    }
    .Artiste .plus-Artiste{
        width: 200px;
        height: 200px;
    }
    .Artiste {
        margin-left: 10%;
        margin-bottom: 10%;
    }
    .title1 h4{
        color: white;
        letter-spacing: 7px;
        font-size: 20px;
        margin-bottom: 6%;
        margin-left: 4%;
    }
    
}


@media (max-width: 375px){
    .title1 h4 {
        color: white;
        letter-spacing: 5px;
        font-size: 15px;
        margin-bottom: 6%;
        margin-left: 5%;
    }
    .Artiste {
        margin-left: -2%;
        margin-bottom: 10%;
    }
}



/* Section 3 */
/* Formulaire */
.Add-albums {
    color: black;
    border-radius: 60px;
    background-color: #F4DA07;
    display: flex;
    /* margin: 4%; */
    width: 30%;
    margin-left: 33%;
}
.Add-albums h5 {
    /* color: white; */
    text-align: center;
    margin-left: 10%;
    margin-top: 3%;
    font-size: 20px;
}
.slids {
    opacity: 40%;
    margin-top: 6%;
    position: relative;
}
.forme-text {
    display: flex;
}

.white {
    background-color: white;
    border-radius: 6%;
    border: 1px solid #FFCD1E;
    width: 67%;
    height: 451pt;
    opacity: 70%;
    position: absolute;
    margin-left: 15%;
    margin-top: -60%;
}
.title-Add h4 {
    background-color: #F4DA07;
    border-radius: 20%;
    opacity: 100%;
    width: 70px;
    position: absolute;

}
.form-group label{
    color: black;
    text-align: start;
    font-size: 22px;

}
.form-group input[type = "text"]{
    border-radius: 24px;
    height: 70px;
    width: 730px;
    border: 2px solid #F4DA07;
    opacity: none !important;
    background-color: white;

}
#forme-text{
    margin-left: -1%;
}


.btn-primary {
    background-color: black;
    color: black;
    border: 1px solid #F4DA07;
    text-align: center;
    width: 130px;
    height: 50px;
    font-size: 27px;
    border-radius: 20px;
    margin-left: 40%;
    background-color: #F4DA07;



}



/* Responsive */
@media (max-width: 992px){
    #carouselExampleSlidesOnly {
       display: none;
    }
    .white{
        position: relative;
        margin-top: 0%;
        margin-left: 0%;
        width: 100%;
        height: 102%;
    }
    .Add-albums {
        width: 60%;
        margin-left: 20%;
    }
    .Add-albums h5 {
        margin-top: 2%;
        font-size: 15px;
        margin-left: 14%;
    }
    .btn-primary{
        text-align: center;
        font-size: 15px;
        width: 100px;
        height: 30px;
        margin-left: 35%;

    }
    .form-group input[type = "text"]{
        
        height: 50px;
        width: 430px;
        
    }
    .form-group label{
        margin-left: 3%;
        font-size: 15px;
    
    }
   
}




/* Iphone X */
@media (max-width: 375px){
    .Add-albums{
        width: 65%;
        justify-content: center;
        margin-left: 17%;
       }
       .Add-albums h5 {
        margin-top: 2%;
        font-size: 15px;
        margin-left: -4%;
        margin-bottom: 4%;
       }
       .form-group input[type = 'text']{
        height: 50px;
        width: 345px;
       }
       .img-man img {
        margin-left: 4%;
        
       }
       .white{
        position: relative;
        margin-top: 2%;
        margin-left: -2%;
        width: 104%;
        height: 102%;
    
       }
       #forme-text{
        margin-left: -3%;
    }
      
}































/*==================
 FOOTER SECTION
====================*/



.footer {
    background-color: #423F3F;
    width: 100%;
    height: 100%;
    bottom: 0px;
    padding: 4px;
    margin-top: 100px;



}
.footer img{
    width: 100%;
}
.copyright {
   background-color: #423F3F;

    text-align: center; 
    width: 100%; 
    color: white;
   
    margin-top: 30px;
}
.footer .col-sm-3{
    margin-top: 5%;
}
.footer p {
    color: white;
    letter-spacing: 27%;
}
.footer h4 {
    color: #27A4DB;
}
.footer a:hover{
    color: #27A4DB;
}
.footer a {
    display: flex;
    
}
.footer .row {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: flex-start;


}

.footer .row .col-sm-3 {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    
}
.footer .font {
    justify-content: space-between;
     margin-left: 20%;
}


/* Responsive */

@media (max-width: 992px){
    .footer .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer .row .col-sm-3 {
        justify-content: center;
        align-items: center;
    }
    .footer {
        justify-content: center;
    }
    .footer img {
        width: 70%;
        margin-left: 15%;
    }
    .footer p {
        text-align: center;
        justify-content: center;
    }
    .footer .font {
        margin-left: 1% !important;
    }
}


/* Iphone X */
@media (max-width : 375px){
    .footer img {
        width: 60%;
    }
   .copyright{
       width: 100%;
       font-size: 12px;
       
   }
   .footer .desc {
    font-size: 13px;
    /* margin-left: 8%; */
   }
   .footer .row .col-sm-3 {
    font-size: 13px;
    justify-content: center;
    margin-left: 7%;
   }
   .footer .row .col-sm-3 h4 {
       font-size: 18px;
   }

 }