body{
    background-color: black;
    font-family: "poppins";
    margin: 0px;
    padding: 0px;
}

/* navbar */
.nav-link active a {
    border-bottom: 2px solid #27A4DB;
}













 /* Section 1 */
#title  {
    color: #FFCD1E;
    letter-spacing: 20px;
    text-align: center; 
    margin-top: 10%; 
    font-size: 69px;
}
@media (max-width: 992px){
    #title {
        font-size: 30px;
        letter-spacing: 9px;
    }
    .slides-home {
        display: none;
    }
}

/* container Albums */
#Al {
    border-radius: 70px;
    border: 3px solid #27A4DB;
    text-align: center;
    display: flex;
    width: 100%;
    
}

.Albums {
    text-align: center;
    display: flex;
    margin-left: 20%;
}

.Albums p {
    color: white;
    text-align: center;
    font-size: 24px;
}
.Albums .img-albums {
    text-align: center;
    margin-top: 10%;
    width: 280px;
    height: 280px;
    border: 1px solid white;
    border-radius: 50px;
    margin-bottom: 10%;
    
}

@media (max-width: 992px){
    #Al{
        width: 67%;
        text-align: center;
        margin-left: 15%;
    

    }
   
    .Albums .img-albums {
        width: 200px;
        height: 200px;
    }
    .Albums {
        margin-left: 10%;
    }
}

@media (max-width : 375px){
    .Albums{
        margin-left: -8%;
    }
    .slides-home {
        display: none;
    }
}

/* Section 2 */
.form-form{
    margin-top: 7%;
}
.section2 {
    background-image: url('man-yelleow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Add {
    border-radius: 60px;
    border: 2px solid #F4DA07;
    background-color: black;
    display: flex;
    margin: 4%;
    width: 30%;
}
.Add h5 {
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-top: 3%;

}

.img-man img{
    width: 350px;
    height: 570px;
}

.form-group label{
    color: white;
    text-align: start;
    font-size: 22px;

}
.form-group input[type = "text"]{
    border-radius: 24px;
    height: 60px;
    width: 730px;
    border: 1px solid #F4DA07;
}


.btn-primary {
    background-color: black;
    color: white;
    border: 1px solid #F4DA07;
    text-align: center;
    width: 130px;
    height: 50px;
    font-size: 27px;
    border-radius: 20px;
    margin-left: 40%;


}


@media (max-width: 992px){
    .Add {
        width: 60%;
    }
    .Add h5 {
        margin-top: 2%;
        font-size: 15px;
        margin-left: 14%;
    } 
    .btn-primary{
        text-align: center;
        font-size: 15px;
        width: 100px;
        height: 30px;
        margin-left: 35%;

    }
    .form-group input[type = "text"]{
        
        height: 50px;
        width: 430px;
        
    }
    .form-group label{
        margin-left: 3%;
        font-size: 15px;
    
    }
    .img-man img{
        width: 320px;
        height: 550px;
        margin-left: 13%;
        margin-top: 7%;
    }
}



@media (max-width : 375px){
   .Add{
    width: 65%;
    justify-content: center;
   }
   .Add h5 {
    margin-top: 2%;
    font-size: 15px;
    margin-left: 1%;
   }
   .form-group input[type = 'text']{
    height: 50px;
    width: 345px;
   }
   .img-man img {
    margin-left: 4%;
    
   }
}


























/*=============
===============
= PAGE About=
===============
===============*/

/* Section 1 */
.About-desc {
    color: white;
}
.About-desc h1{
    font-family: 'Monoton';
    font-size: 45px;

}
.text-About1 {
    
    color: white;
}

.text-About2 {
    
    color: white;
}
.text-About3 {
    
    color: white;
}

.img-About img{
    width: 488px;
    height: 327px;
    border-radius: 74px;
}

.text-About1 .tit1 {
    font-family: 'Monoton';
    font-size: 300%;
}
.text-About1 .tit2 {
    font-family: 'Indie Flower';
}


.text-About2 .tit1 {
    font-family: 'Monoton';
    font-size: 300%;
}
.text-About2 .tit2 {
    font-family: 'Indie Flower';
}

.text-About3 .tit1 {
    font-family: 'Monoton';
    font-size: 300%;
}
.text-About3 .tit2 {
    font-family: 'Indie Flower';
}
/* Responsive */

@media (max-width: 992px){
    .text-About1 {
        justify-content: start;
    }
    .text-About2 {
        justify-content: end;
    }
    .text-About3 {
        justify-content: start;
    }
    
    #second{
        flex-direction: column-reverse;
    }
    .img-About img{
        width: 350px;
        height: 250px;
        border-radius: 90px;
        margin-left: 12%;
    }
}


/* Iphone X */

@media (max-width : 375px){
    .img-About img{
        margin-left: 0%;
    }
    .text-About1 {
        justify-content: start;
    }
    .text-About2 {
        justify-content: end;
    }
    .text-About3 {
        justify-content: start;
    }
    {

    }
}













/*==================
 FOOTER SECTION
====================*/



.footer {
    background-color: #423F3F;
    width: 100%;
    height: 100%;
    bottom: 0px;
    padding: 4px;
    margin-top: 100px;



}
.footer img{
    width: 100%;
}
.copyright {
   background-color: #423F3F;

    text-align: center; 
    width: 100%; 
    color: white;
   
    margin-top: 30px;
}
.footer .col-sm-3{
    margin-top: 5%;
}
.footer p {
    color: white;
    letter-spacing: 27%;
}
.footer h4 {
    color: #27A4DB;
}
.footer a:hover{
    color: #27A4DB;
}
.footer a {
    display: flex;
    
}
.footer .row {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: flex-start;


}

.footer .row .col-sm-3 {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    
}
.footer .font {
    justify-content: space-between;
     margin-left: 20%;
}


/* Responsive */

@media (max-width: 992px){
    .footer .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer .row .col-sm-3 {
        justify-content: center;
        align-items: center;
    }
    .footer {
        justify-content: center;
    }
    .footer img {
        width: 70%;
        margin-left: 15%;
    }
    .footer p {
        text-align: center;
        justify-content: center;
    }
    .footer .font {
        margin-left: 1% !important;
    }
}


/* Iphone X */
@media (max-width : 375px){
    .footer img {
        width: 60%;
    }
   .copyright{
       width: 100%;
       font-size: 12px;
       
   }
   .footer .desc {
    font-size: 13px;
    /* margin-left: 8%; */
   }
   .footer .row .col-sm-3 {
    font-size: 13px;
    justify-content: center;
    margin-left: 7%;
   }
   .footer .row .col-sm-3 h4 {
       font-size: 18px;
   }

 }